@mixin mobile{
  @media screen and (max-width: 480px){
    @content
  }
}
@mixin tablet{
  @media screen and (max-width: 768px){
    @content
  }
}
@mixin laptop{
  @media screen and (max-width: 1200px){
    @content
  }
}

.form-container{
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-wrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo{
      color: #5d5b8d;
      font-weight: 600;
      font-size: 24px;
    }
    .title{
      color: #5d5b8d;
      font-size: 12px;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 15px;
      input{
        padding: 15px;
        border-bottom: #a7bcff 1px solid;
        width: 250px;
        &::placeholder{
          color: rgb(175,175,175)
        }
      }
      button{
        background-color: #a7bcff;
        color: white;
        padding: 10px;
        font-weight: 600;
      }

      label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #a7bcff;
        font-size: 12px;
        cursor: pointer;

        img{
          width: 34px;
        }
      }
    }
    p{
      color: #5d5b8d;
      font-size: 12px;
      margin: 10px 0 0 0;
    }
  }
}